**/node_modules/
**/dist/

.env
real-estate-app/.env.local
real-estate-app/.env.development
real-estate-app/.env.production
real-estate-server/.env

real-estate-app/.next/

.DS_Store
Thumbs.db

.vscode/

real-estate-app/node_modules/
real-estate-server/node_modules/
real-estate-app/dist/
real-estate-server/dist/
real-estate-app/.env
real-estate-server/.env
real-estate-app/.next/
node_modules